aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
APScheduler==3.7.0
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
beautifulsoup4==4.11.1
boto3==1.24.62
botocore==1.27.62
Brotli==1.0.9
bs4==0.0.1
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
constantly==15.1.0
coverage==6.4.4
cryptography==37.0.4
cssselect==1.1.0
Deprecated==1.2.13
distlib==0.3.6
Django==2.2.28
django-apscheduler==0.6.0
django-cors-headers==3.7.0
djangorestframework==3.13.1
elastic-transport==8.4.0
elasticsearch==8.4.0
filelock==3.8.0
flake8==5.0.4
Flask==2.1.2
Flask-Compress==1.12
Flask-SQLAlchemy==2.5.1
frozenlist==1.3.1
furl==2.1.3
gerapy==0.9.11
gevent==21.12.0
google-api-core==2.8.2
google-api-python-client==2.57.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
greenlet==1.1.3
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.12.0
incremental==21.3.0
iniconfig==1.1.1
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
logparser==0.8.2
lxml==4.9.1
MarkupSafe==2.1.1
mccabe==0.7.0
mock==4.0.3
motor==3.0.0
multidict==6.0.2
oauthlib==3.2.0
orderedmultidict==1.0.1
packaging==21.3
parsel==1.6.0
pexpect==4.8.0
platformdirs==2.5.2
pluggy==1.0.0
Protego==0.2.1
protobuf==4.21.5
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
PyDispatcher==2.0.5
pyee==8.2.2
pyflakes==2.5.0
pymongo==4.2.0
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pytest==7.1.3
pytest-cov==3.0.0
python-dateutil==2.8.2
python-scrapyd-api==2.1.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
queuelib==1.6.2
redis==4.3.4
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
save-thread-result==0.0.8
Scrapy==2.6.2
scrapy-redis==0.7.3
scrapy-splash==0.8.0
scrapyd==1.3.0
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@7b737c04420a698543b9866dc0adf02d9c30fc88
scrapydweb @ git+https://github.com/my8100/scrapydweb.git@7a3b81dba2cba4279c9465064a693bb277ac20e9
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
sqlparse==0.4.2
tldextract==3.3.1
tomli==2.0.1
tornado==6.2
tox==3.26.0
tqdm==4.64.1
Twisted==22.4.0
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==2.1
uberegg==0.1.1
uritemplate==4.1.1
urllib3==1.26.11
virtualenv==20.16.5
w3lib==2.0.1
websocket==0.2.1
websockets==10.3
Werkzeug==2.0.2
wrapt==1.14.1
yarl==1.8.1
youtube-transcript-api==0.4.4
yt-videos-list==0.6.4
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
